.collection-title {
    margin-top: 12px;
    margin-bottom: 12px;

    text-align: left;
    max-width: 100%;
}

.collection-title__header {
    margin-top: 0;
    margin-bottom: 5px; 

    font-size: 30px;
}

.collection-title__count {
    font-weight: 500;
    font-size: 16px;
    color: #9E9E9E;
}

.collection-title__lead {
    display: flex;
    align-items: flex-end;

    font-weight: 400;
    font-size: 14px;
}

.collection-title__lead-text {
    margin-top: 0;
    margin-bottom: 0;

    line-height: 20px;
    color: #777777;
}

.collection-title__lead-button {
    padding-left: 0;
    padding-right: 0;
    width: var(--initial-width, fit-content);
    flex-shrink: 0;

    border: none;
    background-color: transparent;

    line-height: 30px;
    color: #FF8139;
}

.collection-title__lead-button:hover {
    text-decoration: underline;
}

.collection-title__lead-button:active {
    opacity: 0.5;
}

.collection-title__lead-button:disabled {
    color: #777777;
    opacity: 0.7;
    pointer-events: none;
}

.top-filter {
    margin-top: 25px;
    margin-bottom: 25px;

    justify-content: start;
    gap: 12px;
}

.top-filter__link {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 24px;

    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-decoration: none;
    color: #000000;

    background-color: #f4f2f1;
}

.top-filter__link:hover {
    color: #FF8139;
    background-color: #EDEAE8;
    cursor: pointer;
}

.top-filter__link:active {
    color: #FFFFFF;
    background-color: #FF8139;
}

.contacts {
    position: fixed;
    z-index: 1001;
    bottom: 0;
    left: 60px;
    right: 60px;

    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.contacts__item {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 24px;
    padding-right: 24px;

    width: fit-content;
    border: none;
    border-radius: 24px 32px 0 0;

    text-align: center;

    display: flex;
    justify-content: center;
    gap: 8px;
    align-content: center;
    align-items: center;
    word-break: break-word;

    color: #FFFFFF;
}

.contacts__item--mobile {
    background-color: #0698EC;
}

.contacts__item--whatsapp {
    background-color: #2A6334;
}

.contacts__item--mail {
    background-color: #4F9652;
}

.contacts__item::before {
    content: '';
    margin-left: -14px;

    flex-shrink: 0;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.contacts__item--mobile::before {
    width: 28px;
    height: 28px;
    border: 3px solid #058AD6;
    border-radius: 50%;

    background-color: #068DDB;
    background-image: url("./assets2024/modile.svg");
    background-size: 20px 20px;
}

.contacts__item--whatsapp::before {
    margin-top: -2px;
    margin-right: -6px;

    width: 34px;
    height: 30px;

    background-image: url("./assets2024/whatsapp.svg");
}

.contacts__item--mail::before {
    width: 28px;
    height: 28px;
    border-radius: 50%;

    background-color: #3E7540;
    background-image: url("./assets2024/mail.svg");
    background-size: 20px 20px;
}

.contacts__text {
    margin-top: 0;
    margin-bottom: 0;
}

.contacts__phone-number {
    white-space: nowrap;

    font-weight: 700;
}


.inner-container {
    margin-left: 12px;
    margin-right: 12px;
}

.hide-text {
    overflow: hidden;
    display: -webkit-box;
    
    text-overflow: ellipsis;

    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}